[Unit]
Description=Unblacklist nvidia modules for current session
After=display-manager.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'mv /etc/modprobe.d/blacklist.conf{,.bak}; modprobe nvidia; modprobe nvidia_modeset; modprobe nvidia_uvm; nvidia-smi && echo unblacklisted || echo initialization error; mv /etc/modprobe.d/blacklist.conf{.bak,}'

[Install]
WantedBy=multi-user.target
